@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --fuente-Ubuntu: 'Ubuntu', sans-serif;;
    --fuente-Exo: 'Exo', sans-serif;
    --color-anaranjado: #DD6C2F;
    --color-celeste: #338ECD;
    --color-gris: #727070;
    --color-verde: #83C441;
}

/* globales */

section.blog .content .item:hover, section.blog .content .item a:hover{
    cursor: url(../img/leermas.png) 52 52, pointer !important;
}

li.fex{
    display: none;
}

/*boton de contactanos*/
a.contacto{
    text-decoration: none;
    background-color: var(--color-anaranjado);
    padding: 17px 47px;
    color: #fff;
    border-radius: 20px;  
    font-family: var(--fuente-Ubuntu);
    font-weight: 500;
    font-size: 20px;
}

h2{
    font-family: var(--fuente-Exo);
    font-weight: 700;
    font-size: 40px;
    color: var(--color-celeste);
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 30px;
    &::before{
        content: url(../icons/title-rayas.svg);
        width: 103px;
        height: 26.11px;
        position: absolute;
        bottom: 14px;
        left: -23px;
    }
}

p{
    font-family: var(--fuente-Ubuntu);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-gris);
    line-height: 139.4%;
}

.container {
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
}

main{
    overflow: hidden;
}

header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            img{
                width: 90%;
            }
        }
        .navigation{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 0 22px;
                    color: #338ECD;
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    a{
                        padding: 4px 0;
                        text-decoration: none;
                        color: #338ECD;
                    }
                    a.select{
                        position: relative;
                        // border-bottom: 3px solid var(--color-verde);
                        &::before{
                            right: 0;
                        }
                    }
                }
                li.contacto{
                    padding-right: 0;
                    a{
                        background-color: var(--color-anaranjado);
                        padding: 17px 47px;
                        color: #fff;
                        border-radius: 20px;     
                    }
                }
                li.fex{          
                    position: relative;     
                    &::after{
                        content: '';
                        opacity: 0;
                        height: 0;
                        width: 0;
                        bottom: -65px;
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-bottom: 50px solid #fff;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) translateY(15px);
                        transition: 0.3s linear;
                        pointer-events: none;
                    }
                    ul{
                        opacity: 0;
                        display: flex;
                        position: absolute;
                        list-style: none;
                        // display: flex;
                        left: 50%;
                        transform: translateX(-44%) translateY(15px);
                        transition: 0.3s linear;
                        padding-top: 40px;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        pointer-events: none;
                        li{                            
                            background-color: #fff;
                            display: inline-block;
                            // width: 238px;
                            padding: 0 0px;
                            // display: flex;
                            // flex-direction: column;
                            // align-items: center;
                            border-left: 3px solid #E7F3F9;
                            p{
                                text-align: center;
                                font-family: var(--fuente-Ubuntu);
                                font-weight: 500;
                                font-size: 16px;
                                color: var(--color-celeste);
                            }
                            a{
                                padding: 22px 53px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 220px;
                                height: 100%;
                                img{
                                    margin-bottom: 10px;
                                    transition: 0.2s linear;
                                }                                
                                &:hover{
                                    img{                                      
                                        transform: translateY(-5px);
                                    }   
                                }
                            }
                        }
                        li:first-child{
                            border-left: none;
                            border-radius: 10px 0 0 10px;
                        }
                        li:last-child{
                            border-radius: 0 10px 10px 0;
                        }
                    }
                    &:hover{
                        &::after{
                            opacity: 1;
                            transform: translateX(-50%) translateY(0px);
                            pointer-events: initial;
                        }
                        ul{
                            opacity: 1;
                            transform: translateX(-44%) translateY(0px);
                            pointer-events: initial;
                        }
                    }
                }
                // li.select{
                //     a{
                //         position: relative;
                //         &::before{
                //             content: '';
                //             position: absolute;
                //             width: 100%;
                //             height: 3px;
                //             background-color: var(--color-verde);
                //             bottom: -5px;
                //             border-radius: 5px;
                //         }
                //     }
                //     ul{
                //         li{
                //             a::before {
                //                 content: none;
                //             }  
                //         }
                //     }
                // }
            }
        }
    }
}

header.sticky{
    padding: 20px 0;
}

header.sticky::before {
    transform: translateY(0%);  
}

header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 120px;
    width: 100%;
    background: #fff;
    z-index: -2;
    transition: transform 0.1s ease;
    transform: translateY(-100%);
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--color-verde);
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

section.home{
    height: 53.5vw;
    lottie-player{       
        position: absolute !important;
        width: 100% !important;
        height: auto !important;
        z-index: -3;
    }
    img.fondo{
        position: absolute !important;
        width: 100% !important;
        height: auto !important;
        z-index: -3;
    }
    .bg-home{
        position: absolute;
        top: 0; 
        z-index: -3;
        svg{
            width: auto !important;
        }
    }
    .container{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content{
        margin: auto 0;        
        width: 60%;
        transform: translateY(-12px);
        h1{
            font-family: var(--fuente-Exo);
            font-weight: 700;
            font-size: 67px;
            color: var(--color-celeste);
            span{
                color: var(--color-verde);
            }
        }
        p{
            width: 58%;
            padding: 50px 0;
            padding-bottom: 65px;
            span{
                font-weight: 700;
            }
        }
    }
}

.animation{
    svg{
        width: auto !important;
    }
}

section.somos{
    padding: 140px 0;
    .content{
        p{
            padding-bottom: 30px;
        }
        // p{
        //     padding: 15px 0;
        // }
        // p:nth-child(1n){
        //     padding-top: 50px;
        // }
        p:last-child{
            padding-bottom: 0px;
        }
    }
}

section.confian{
    background-color: #E7F3F9;
    padding: 140px 0;
    background-image: url(../img/lineas-fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    // h2 {
    //     padding-bottom: 25px;
    // }
    .grid-empresas{
        display: grid;   
        grid-template-columns: repeat(5, 1fr);
        padding: 0 80px;     
        grid-gap: 75px;
        column-gap: 78px;
        align-items: center;        
        padding-top: 50px;
        .item{
            display: flex;
            justify-content: center;
            img{
                transition: 0.2s linear;
            }
            &:hover{
                img{
                    transform: translateY(-10px);
                }
            }
        }
    }
}

section.socios{
    padding: 140px 0;
    padding-bottom: 70px;
    h2{
        margin-bottom: 50px;
    }
    .content{
        // padding-top: 50px;
        display: flex;        
        justify-content: center;
        .card{
            width: 336px;
            padding: 50px 35px;
            background-color: var(--color-celeste);
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
                margin-bottom: 70px;               
            }
            p{
                color: #fff;
                text-align: center;
                position: relative;
                &::after{
                    content: '';
                    background-color: var(--color-verde);
                    width: 80px;
                    height: 3px;
                    border-radius: 10px;
                    position: absolute;
                    top: -45px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                }
            }
        }
        .animation{
            margin: 0 67px;
            position: relative;
            a{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                z-index: 3;
                padding: 17px 24px;
                white-space: nowrap;
            }
        }
    }
}

section.soluciones{
    padding: 70px 0;
    h2{
        margin-bottom: 50px;
    }
    .grid-soluciones{
        display: grid;   
        grid-template-columns: repeat(5, 1fr);
        padding: 0 80px;     
        grid-gap: 50px;
        align-items: flex-start;        
        // padding-top: 50px;
        .item{
            lottie-player{
                width: auto !important;
                height: auto !important;
                margin-bottom: 10px;
                position: relative;
                &::after{
                    content: '';
                    background-color: var(--color-verde);
                    width: 100%;
                    height: 3px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: -14px;
                    left: 0;
                    z-index: 3;
                }
            }
            h3{
                font-family: var(--fuente-Exo);
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                color: var(--color-celeste);
                // width: 70%;
                padding-top: 17px;
                
            }
            p{
                padding-top: 10px;
                padding-bottom: 15px;
            }
            a{
                text-decoration: none;                
                position: relative;
                padding-left: 40px;                
                span{
                    transition: 0.2s linear;
                    color: var(--color-verde);
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                }
                img{
                    // margin-right: 8px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.2s linear;
                }
                &:hover{
                    span{
                        opacity: 0.7;
                    }
                    img{
                        left: 10px;
                    }
                }
            }            
        }
    }
}

section.novedades{  
    padding: 70px 0;
    h2{
        margin-bottom: 50px;
    }
    .slider-novedades{
        padding-left: 180px;
        // padding-top: 20px;
        .item{
            width: 425px !important;
            border: 3px solid #338ECD;
            border-radius: 10px;
            padding: 30px;     
            margin: 0 30px;    
            background-color: #fff;   
            p{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 25px;
                color: var(--color-celeste);
                padding-bottom: 30px;
            }
            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 30px;
                span{
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    padding: 7px 19px;
                    border: 1px solid var(--color-celeste);
                    border-radius: 20px;
                    color: var(--color-celeste);
                }
                p{
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    padding-bottom: 0;
                }
            }
            .btn{
                display: flex;
                justify-content: flex-end;
                a{
                    text-decoration: none;
                    color: var(--color-verde);
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 8px;
                        position: relative;
                        left: -10px;
                        transition: 0.2s linear;
                    }
                    &:hover{
                        opacity: 0.7;
                        img{
                            left: -1px;
                        }
                    }
                }
            }
        }
        .slick-track{
            .item:first-child{
                margin-left: 0 !important;
            }
        }
        .slick-prev {
            left: -22.5vw;
            background-image: url(../icons/flecha-slider.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 51px;
            height: 51px;
            right: 304px;
            left: inherit;
            transform: rotate(180deg) translateY(50%);
            transition: background-image 0.2s linear !important;
            &:hover{
                background-image: url(../icons/flecha-slider-hover.svg);
            }
        }
        .slick-next {
            left: -18.5vw;
            background-image: url(../icons/flecha-slider.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 51px;
            height: 51px;
            right: 225px;
            left: inherit;
            transition: background-image 0.2s linear !important;
            &:hover{
                // display: none !important;
                background-image: url(../icons/flecha-slider-hover.svg);
                // transform: rotate(180deg) translateY(50%);
                // opacity: 0.2 !important;
            }
        }
        .slick-prev:before, .slick-next:before{
            display: none;
        }
        .slick-prev, .slick-next{
            top: -82.5px;
        }
        .slick-prev.slick-disabled{
            opacity: 0.6;
            background-image: url(../icons/flecha-slider.svg);
        }
        .slick-next.slick-disabled{
            opacity: 0.6;
            &:hover{
                // display: none !important;
                background-image: url(../icons/flecha-slider.svg);
                // transform: rotate(180deg) translateY(50%);
                // opacity: 0.2 !important;
            }
        }
    }
}

footer{
    padding-top: 70px;    
    color: var(--color-celeste);
    position: relative;
    // z-index: 2;
    .bg-footer{
        display: flex;
        position: absolute;
        bottom: 0px;
        z-index: -3;
        img{
            width: 100%;
        }
    }
    .content{
        display: flex;
        justify-content: space-between;        
        padding-bottom: 50px;
    }
    .part1{     
        max-width: 510px;
        h2{
            font-size: 35px;
            margin-bottom: 5px;
            &::before{
                content: none;
            }
        }
        form{
            width: fit-content;
            position: relative;
            input{
                width: 510px;
                height: 58px;
                border-radius: 10px;
                border: 3px solid var(--color-celeste);
                background-color: transparent;
                outline: none !important;
                appearance: none;
                padding-left: 17px;
                padding-right: 46px;
                font-family: var(--fuente-Ubuntu);
                font-weight: 500;
                font-size: 20px;
                color: var(--color-celeste);
                padding-top: 6px;
            }
            label{
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-family: var(--fuente-Ubuntu);
                font-weight: 500;
                font-size: 20px;
                transition: 0.2s linear;
            }
            .form-group{
                position: relative;
            }
            .form-group.focusin label,
            .form-group.ok label{
                font-size: 14px;
                // left: 20px;
                top: 14px;
            }
            button{
                border: none;
                position: absolute;
                background-color: transparent;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                img{
                    transition: 0.2s linear;                    
                }
                &:hover{
                    img{
                        transform: scale(0.7);
                    }
                }
            }
        }
    }
    .part2{
        max-width: 290px;
    }
        ul{
            list-style: none;
            li{
                font-family: var(--fuente-Ubuntu);
                font-weight: 700;
                font-size: 20px;
                padding: 13px 0;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 3px;
                    top: 23px;
                    left: -20px;
                    background-color: var(--color-verde);
                    border-radius: 10px;
                }
                ul{
                    list-style: none;
                    li{
                        padding: 0;
                        font-weight: 500;
                        line-height: 1.5;
                        &::after{
                            content: none;
                        }
                    }
                }
            }
            li:last-child{
                padding-bottom: 0;
            }
        }
    .part3{
        max-width: 380px;
        ul li{
            padding: 13px 0;
        }
        .redes{
            display: flex;
            a{
                margin: 0 27px;
                transition: 0.2s linear;
            }
            a:first-child{
                margin-left: 0;
            }
            a:hover{
                transform: translateY(-5px);
            }
        }
        p{
            font-family: var(--fuente-Ubuntu);
            font-weight: 500;
            font-size: 20px;
            color: var(--color-celeste);
            padding: 13px 0;
            line-height: 139.4%;
        }
        p:first-child{
            padding-top: 0;
        }
        p:last-child{
            padding-bottom: 0;
        }
    }

    .pie{
        display: flex;
        border-top: 1px solid var(--color-celeste);
        .content{
            padding: 10px 0;
            p{
                font-family: var(--fuente-Ubuntu);
                font-weight: 400;
                font-size: 16px;
                color: var(--color-celeste);
            }
            .creditos{
                p{
                    display: inline-block;
                }
                img.corazon {
                    width: 12px;
                    margin-left: 2px;
                }
                a {
                    margin-left: 2px;
                    img {
                        width: 55px;
                    }
                }
            }
        }
    }
}

section.fondo-interna{    
    // height: 62vw;
    height: 50.5vw;
    img{
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        z-index: -3;
    }   
}

section.home-nosotros{ 
    .content{
        display: flex;
        align-items: center;  
        padding-top: 241.39px;      
        .part1{
            width: 45%;
            padding-right: 70px;
            h1{
                font-weight: 700;
                font-size: 60px;
                color: var(--color-celeste);
                font-family: var(--fuente-Exo);
            }      
            p{
                padding: 17px 0;        
            }      
            p:first-child(1){
                padding-top: 0;
            }
            lottie-player{
                width: auto !important;
            height: auto !important;
            }

        }
        .part2{
            width: 55%;
        }
    }
}

section.filosofia{
    padding: 140px;
    padding-bottom: 70px;
    p{
        padding-bottom: 30px;
    }
    p:last-child {
        padding-bottom: 0px;
    }
}

section.mision-vision{
    padding: 70px 0;
    .container{
        width: 65%;
        .content{
            display: flex;
            lottie-player{
                margin-top: 45px;
            }
            .part1{
                width: 50%;
                padding-right: 100px;
                position: relative;                
                height: 100%;
                &::after{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 3px;
                    top: 0;
                    right: 0;
                    background-color: var(--color-gris);
                    border-radius: 20px;
                }
            }
            .part2{
                width: 50%;
                padding-left: 100px;
                height: 100%;
            }
        }
    }
}

section.valores{
    padding: 70px 0;
    padding-bottom: 260px;
    h2{
        margin-bottom: 50px;
    }
    .grid-valores{
        display: grid;   
        grid-template-columns: repeat(4, 1fr);  
        grid-gap: 47px;
        .item{
            lottie-player{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                position: relative;
                padding: 0 70px;
                &::after{
                    content: '';
                    background-color: var(--color-verde);
                    width: 100%;
                    height: 3px;
                    border-radius: 10px;
                    position: absolute;
                    bottom: -16px;
                    left: 0;
                    z-index: 3;
                }
            }
            h3 {
                font-family: var(--fuente-Exo);
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                color: var(--color-celeste);
                // width: 70%;
                padding-top: 17px;
                position: relative;
                // &::after {
                //     content: '';
                //     background-color: var(--color-verde);
                //     width: 100%;
                //     height: 6px;
                //     position: absolute;
                //     top: 0px;
                //     left: 0;
                //     z-index: 3;
                // }
                // p {
                //     line-height: 178.5%;
                //     padding-bottom: 15px;
                // }
            }   
            p{
                padding-top: 10px;
                // line-height: 170.02%;
            }
        } 
    }
}

section.home-servicios-interna{
    .content{
        display: flex;
        align-items: center;
        // padding-top: 200px;
        padding-top: 241.39px;
        .part1{
            width: 50%;
            padding-right: 120px;
            lottie-player{
                width: 228px !important;
                height: auto !important;
            }
            h1{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 60px;
                color: var(--color-celeste);  
                padding-top: 20px;              
            }
            p{
                padding-top: 10px;
            }
        }
        .part2{
            width: 50%;
        }
    }
}

.formulario{
    background-color: var(--color-celeste);
    border-radius: 10px;
    padding: 40px 50px;
    
    h3{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        font-family: var(--fuente-Exo);
    }
    form{
        // margin-left: 50px;      
        margin-top: 40px;
        .form-group{
            margin-bottom: 25px; 
            margin-left: 50px;    
            position: relative;    
            span {
                font-weight: inherit;
                background-color: #fff;
                bottom: 0;
                content: "";
                height: 4px;
                left: 0;
                position: absolute;
                right: 0;
                -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: center left;
                -ms-transform-origin: center left;
                transform-origin: center left;
                -webkit-transition: -webkit-transform .7s cubic-bezier(.77,0,.175,1);
                transition: -webkit-transform .7s cubic-bezier(.77,0,.175,1);
                -o-transition: transform .7s cubic-bezier(.77,0,.175,1);
                transition: transform .7s cubic-bezier(.77,0,.175,1);
                transition: transform .7s cubic-bezier(.77,0,.175,1),-webkit-transform .7s cubic-bezier(.77,0,.175,1);
                font-style: inherit;
            }
            span.animacion{
                -ms-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
            }
            &::before{
                background-image: url(../icons/vineta-input.svg);
                background-repeat: no-repeat;
                position: absolute;
                top: 20px;
                // transform: translateY(-50%);
                left: -46px;
                width: 31px;
                height: 12px;
                content: '';
            }
            label{
                font-weight: 400;
                font-size: 20px;
                color: #fff;
                position: absolute;
                top: 13px;
                // transform: translateY(-50%);
                transition: 0.1s linear;
                font-family: var(--fuente-Ubuntu);
            }
            input{
                height: 48px;
                font-family: var(--fuente-Ubuntu);
                font-weight: 400;
                font-size: 20px;
                color: #fff;
                width: 100%;
                border: 0;
                position: relative;
                border: 0;
                outline: none !important;
                appearance: none;
                -webkit-box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
                box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
                background-color: transparent;
            }
            textarea{
                padding-top: 10px;
                background-color: transparent;
                position: relative;
                appearance: none;
                border: 0;
                outline: none !important;
                font-family: var(--fuente-Ubuntu);
                font-weight: 400;
                font-size: 20px;
                width: 100%;
                color: #fff;-webkit-box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
                box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2);
                height: 130px;
            }
        }       
        
        .formmensaje{
            span{
                bottom: 4px;
            }
        }

        .form-group.focusin label,
        .form-group.ok label{
                font-size: 14px;
                // left: 20px;
                top: -3px;
        }
        .form-group.formmensaje.focusin label,
        .form-group.formmensaje.ok label{
            font-size: 14px;
            top: -7px;
        }
        .archivo{
            display: flex;
            flex-direction: column;
            // align-items: center;
            p{
                font-family: var(--fuente-Ubuntu);
                font-weight: 400;
                font-size: 20px;
                color: #fff;
                padding-top: 13px;
                white-space: nowrap;
                margin-right: 10px;
            }
            input{
                padding-top: 13px;
                -webkit-box-shadow: none;
                box-shadow: none;       
                height: auto;  
                // background: linear-gradient(180deg, #FFFFFF 0%, #DEDEDE 100%);
                // color: var(--color-gris);      
                // border-radius: 10px;
            }
        }
        .checkbox-box{
            display: flex;
            margin-left: 50px; 
            align-items: center;
            input{
                background-color: var(--color-celeste) !important;                        
                margin-right: 10px;
            }
            p{
                font-weight: 400;
                font-size: 20px;
                color: #fff;
                font-family: var(--fuente-Ubuntu);
                a{
                    color: #fff;
                }
            }
        }
        button{
            padding: 17px 58px;
            background-color: var(--color-anaranjado);
            border-radius: 20px;
            font-family: var(--fuente-Ubuntu);
            font-weight: 500;
            font-size: 20px;
            border: 0;
            color: #fff;
            cursor: pointer;
            margin-top: 50px;
        }
    }
}

section.beneficios{
    padding-top: 140px;
    padding-bottom: 70px;
    .container{
        width: 69%;
    }
    .content{
        display: flex;
        .part1{
            width: 50%;     
            img{
                margin-bottom: 20px;
            }
            h2{
                max-width: 600px;
                margin-bottom: 10px;
                &:before {
                    bottom: 5px;
                }
            }       
        }
        .part2{
            width: 50%;
            padding-left: 46px;
            ul{
                list-style: none;
                li{
                    position: relative;
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 400;
                    font-size: 20px;
                    color: #727070;
                    margin: 45px 0;
                    line-height: 139.4%;
                    &::before {
                        content: '';
                        background-image: url(../icons/vineta-input.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 7px;
                        left: -46px;
                        width: 31px;
                        height: 11.35px;
                    }
                }
                li:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}

section.tarjeta-contacto{
    padding: 70px 0;
    // padding-bottom: 210px;
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-celeste);
        padding: 50px 150px;
        border-radius: 10px;
        .part1{
            width: 60%;
            h3{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 40px;
                color: #fff;
            }
        }
    }
}

section.fondo-socios{
    height: 33.5vw;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -3;
    }  
    .content{
        padding-top: 241.39px;
        display: flex;
        .part1{
            width: 50%;
            h1{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 60px;
                color: var(--color-celeste);
            }
            p{
                padding-top: 15px;
            }
        }
        .part2{
            width: 50%;
        }
    }
}

section.respaldo{
    padding-top: 140px;
    padding-bottom: 70px;
    .content{
        display: flex;
        .part1{            
            width: 50%;
            padding-right: 90px;
            text-align: center;
            img{
                margin-top: 50px;
            }
            h2,p{
                text-align: start;
            }
        }
        .part2{            
            width: 50%;
            padding-left: 40px;
            text-align: center;
            img{
                margin-bottom: 50px;
            }
            p{
                text-align: start;
            }
        }
    }
}

section.aliados{
    padding: 70px 0;
    h2{
        margin-bottom: 50px;
    }
    .marquee-with-options {
        padding-top: 0px;
        width: 100%;
        overflow: hidden;
        .text{
            display: flex;
            align-items: center;
        }
        .js-marquee {
            margin: 0 !important;
        }
        .item{
            margin: 0 45px;
        }
    }
}

section.competencias{
    padding: 70px 0;
    h2{
        margin-bottom: 50px;
    }
    .slider-competencias{
        margin-top: 20px;
        .item{
            margin: 0 30px;
            border-radius: 10px;
            border: 3px solid var(--color-celeste);
            padding: 50px 0px;
            img{
                padding: 0 33px;
                padding-bottom: 29px;
                width: 100%;
            }
            .info{
                padding: 30px 33px;
                padding-bottom: 0;
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    height: 2.5px;
                    position: absolute;
                    top: 0;
                    background-color: var(--color-celeste);
                    left: 0;
                }
            }
            h3{
                font-weight: 700;
                font-size: 25px;
                font-family: var(--fuente-Exo);
                color: var(--color-celeste);
            }
            p{
                padding-top: 15px;
            }
        }
        .slick-prev:before, .slick-next:before{
            content: none;
        }
        .slick-prev {
            // left: -22.5vw;
            background-image: url(../icons/flecha-slider.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 51px;
            height: 51px;
            transform: rotate(180deg) translateY(50%);
            left: initial;
            right: 78px;
            transition: 0.2s linear;
            &:hover{
                background-image: url(../icons/flecha-slider-hover.svg);
            }
        }
        .slick-next {
            // left: -18.5vw;
            background-image: url(../icons/flecha-slider.svg);
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            width: 51px;
            height: 51px;
            left: initial;
            right: 0;
            transition: 0.2s linear;
            &:hover{
                background-image: url(../icons/flecha-slider-hover.svg);
            }
        }
        .slick-prev, .slick-next{
            top: -76px;
        }
        .slick-prev.slick-disabled{
            opacity: 0.6;
            background-image: url(../icons/flecha-slider.svg);
        }
        .slick-next.slick-disabled{
            opacity: 0.6;
            &:hover{
                // display: none !important;
                background-image: url(../icons/flecha-slider.svg);
                // transform: rotate(180deg) translateY(50%);
                // opacity: 0.2 !important;
            }
        }
    }
}

section.trabajo{
    height: auto !important;
    padding-bottom: 241.39px;
    img.fondo{
        top: -197px;
    }
    .content{
        padding-top: 250px;
        padding-top: 241.39px;
        display: flex;
        .part1{
            width: 50%;
            padding-right: 70px;
            h1{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 60px;
                color: var(--color-celeste);
            }
            p{
                padding-top: 20px;
            }
            .img{
                display: flex;
                justify-content: center;
                padding-top: 75px;
            }
            img{
                position: relative;
                width: 60%;
                z-index: initial;
            }
        }
        .part2{
            width: 50%;
        }
    }
}

section.proteccion{
    // background-image: url(../img/lineas-fondo.png);
    padding-bottom: 280px;
    // background-position-y: 370px;
    // background-repeat: no-repeat;
    position: relative;
    
    .fondo{
        position: absolute;
        bottom: -245px;
        z-index: -3;
    }
    .container{
        width: 40%;
    }
    .content{
        padding-top: 241.39px;
        h1{
            font-family: var(--fuente-Ubuntu);
            font-weight: 700;
            font-size: 60px;
            color: var(--color-celeste);
            text-align: center;
        }
        p{
            padding-top: 30px;
            text-align: center;
        }
    }
}

section.thanks-page{
    padding: 73px 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(180deg, #E7F3F9 0%, rgba(231, 243, 249, 0) 63.02%);
    .container{
        height: 100%;
    }
    .fondo{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;
    }
    .top{
        position: absolute;
        right: 0;
        top: 0;
    }
    h1{
        font-family: var(--fuente-Ubuntu);
        font-weight: 700;
        font-size: 60px;
        color: var(--color-celeste);
    }
    p{
        padding: 30px 0;
        // padding-bottom: 37px;
    }
}

section.contact-page{
    background: linear-gradient(180deg, #E7F3F9 0%, rgba(231, 243, 249, 0) 63.02%);
    padding-bottom: 30px;    
    .container{
        width: 42%;
    }
    .content{
        // padding-top: 250px; 
        padding-top: 241.39px;
        h1{
            font-family: var(--fuente-Ubuntu);
            font-weight: 700;
            font-size: 60px;
            color: var(--color-celeste);
            text-align: center;
        }
        p{
            padding-top: 30px;
            text-align: center;
        }
        .formulario{
            background-color: transparent;    
            display: flex;
            justify-content: center;        
        }
        form{
            margin-top: 20px;
            width: 84%;
            .form-group span{
                background-color: var(--color-celeste);
            }
        }
        label{
            color: var(--color-celeste);
        }
        input, textarea{
            color: var(--color-celeste);
            -webkit-box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
            box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
        }
        .checkbox-box{            
        P{
            color: var(--color-gris);
            padding-top: 0;
            a{
                color: var(--color-gris);
            }
        }
        }
        select{
            height: 48px;
            width: 100%;
            border: 0;
            appearance: none;
            outline: none !important;
            -webkit-box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
            box-shadow: inset 0 -4px 0 0 rgba(51, 142, 205, 0.39);
            font-family: var(--fuente-Ubuntu);
            font-weight: 400;
            font-size: 20px;
            color: var(--color-celeste);
            position: relative;
            background-color: transparent;
            option{
                padding-left: 10px !important;
            }
        }
        .formmotivo, .formasunto{
            position: relative;
            &::after{
                content: '';
                background-image: url('../icons/flecha-select.svg');
                position: absolute;
                top: 21px;
                right: 7px;
                width: 16px;
                height: 12px;   
                z-index: -2;
                transform: rotate(-90deg);
            }
        }
        .formmotivo.open, .formasunto.open{
            &::after{
                transform: rotate(0deg);
            }
        }
        .btn{
            display: flex;
            justify-content: center;
        }
    }
}

section.footer-contacto{
    padding-top: 70px;
    position: relative;
    img.fondo{
        position: absolute;
        bottom: 45px;
        z-index: -3;
    }
    h3{
        font-family: var(--fuente-Ubuntu);
        font-weight: 500;
        font-size: 20px;
        color: var(--color-celeste);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 3px;
            border-radius: 10px;
            background-color: var(--color-verde);
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
        }
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        padding-bottom: 30px;        
        p{
            padding-top: 20px;
        }
        .oficina{
            width: 700px;
        }
        .info{
            display: flex;
            justify-content: space-between;
        }
        .redes{
            a{
                margin: 0 15px;
                text-decoration: none;
                img{
                    transition: 0.2s linear;
                }
                &:hover{
                    img{
                        transform: translateY(-5px);
                    }
                }
            }
            a:first-child{
                margin-left: 0;
            }
            a:last-child{
                margin-right: 0;
            }
        }
    }
    .pie{
        display: flex;
        border-top: 1px solid var(--color-celeste);
        .content {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            p{
                font-size: 16px;
                color: var(--color-celeste);
            }
            .creditos{
                p{
                    display: inline-block;
                }
                img.corazon {
                    width: 12px;
                    margin-left: 2px;
                }
                a {
                    margin-left: 2px;
                    img {
                        width: 55px;
                    }
                }
            }

        }
    }
}

section.main-article{   
    padding-bottom: 70px;
    .content{
        padding-top: 241.39px;
        display: flex;
        .part1{
            width: 50%;
            padding-right: 40px;
            img{
                width: 100%;
                border-radius: 10px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
        .part2{
            width: 50%;
            padding-left: 40px;
            .category{
                display: flex;
                justify-content: space-between;
                span{
                    padding: 10px 19px;
                    border-radius: 20px;
                    border: 1px solid var(--color-celeste);
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--color-celeste);
                }
            }
            h2{
                padding-top: 50px;
            }
        }
    }
    .content2{
        display: flex;
        padding-top: 100px;
        .part1{
            width: 17%;
            .redes{
                background-color: #D5EBF4;
                padding: 18px 9px;
                max-width: 113px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                p{
                    color: var(--color-celeste);
                }
                img{
                    margin: 20px 0;
                    transition: 0.2s linear;
                }
                img:last-child{
                    margin-bottom: 0;
                }
                img:hover{
                    transform: translateY(-5px);
                }
            }
        }
        .part2{
            width: 83%;
            p{
                padding-bottom: 35px;
            }
        }
    }
}

section.blog{
    height: auto;
    padding-bottom: 70px;
    .fondo{
        top: -350px;
    }
    .content{
        padding-top: 241.39px;
        // padding-top: 250px;
        h1{
            font-family: var(--fuente-Exo);
            font-weight: 700;
            font-size: 60px;
            color: var(--color-celeste);
            text-align: center;
        }
        p{
            text-align: center;
        }
        .categorias{
            padding-top: 40px;            
            padding-bottom: 140px;
            ul{
                list-style: none;
                display: flex;
                justify-content: center;
                li{
                    margin: 0 8px;
                    padding: 10px 0;
                    display: inline-block;
                    a{
                        padding: 10px 22px;
                        background-color: transparent;
                        text-decoration: none;
                        color: var(--color-celeste);
                        font-family: var(--fuente-Ubuntu);
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        border-radius: 20px;                 
                        border: 1px solid var(--color-celeste);  
                        transition: 0.2s linear;                      
                        &:hover{
                            background-color: var(--color-celeste);
                            color: #fff;
                        }
                    }
                    a.select{                        
                        background-color: var(--color-celeste);
                        color: #fff;
                    }
                }
            }
        }
        .destaado{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 58px;
            padding-bottom: 50px;
        }

        .items-category{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 58px;
            padding-bottom: 50px;
            
        }
        .item{
            transition: transform 300ms ease 0ms;
            a{
                text-decoration: none;
            }
            &:hover{
                transform: scale(0.92);
            }
            border-radius: 10px;
            .img{
                position: relative;
                display: flex;
                img{
                    position: initial;
                    top: initial;
                    left: initial;
                    width: 100%;
                    z-index: initial;
                    border-radius: 10px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .filtro{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40%;
                    background: linear-gradient(181.04deg, rgba(0, 0, 0, 0) 32.29%, rgba(0, 0, 0, 0.4) 99.11%);
                    border-radius: 10px;
                    z-index: 1;
                }
                span{
                    position: absolute;
                    right: 17px;
                    bottom: 19px;
                    color: #fff;
                    padding: 10px 18px;
                    border: 1px solid #fff;
                    border-radius: 20px;
                    font-family: var(--fuente-Ubuntu);
                    font-weight: 500;
                    font-size: 20px;
                    z-index: 2;
                }
            }    
            p{
                text-align: start;
                padding: 15px 0;
            }    
            h3{
                font-family: var(--fuente-Exo);
                font-weight: 700;
                font-size: 25px;
                color: var(--color-celeste);
            }        
        }
        
        .paginacion{
            ul{
                list-style: none;
                display: flex;
                justify-content: center;
                li{
                    display: inline-block;
                    padding: 0 20px;
                    a{
                        text-decoration: none;
                        color: var(--color-celeste);
                        font-family: var(--fuente-Exo);
                        font-weight: 400;
                        font-size: 25px;
                        padding: 0 5px;
                    }
                }
                li.select{
                    a{
                        text-decoration: initial;
                        border-bottom: 3px solid var(--color-celeste);
                    }
                }
            }
        }
    }
}